{% extends "base/base_admin.html" %}

{% block title %}Tạo doanh nghiệp mới{% endblock %}

{% block content %}
<br><br>
{% with messages = get_flashed_messages()%}
    {% if messages %}
        {% for m in messages %}
            <div class="row justify-content-center">
                <div class="alert alert-success col-4" role="alert">
                    {{m}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1 style="text-align:center;"> Tạo doanh nghiệp mới </h1>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}