{% extends "base/base_enterprise.html" %}

{% block title%} Tạo người nhận {% endblock%}

{% block content%}
<br><br>
{% with messages = get_flashed_messages()%}
    {% if messages %}
        {% for m in messages %}
            <div class="row justify-content-center">
                <div class="alert alert-success col-4" role="alert">
                    {{m}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên người nhận</label>
                            <input type="text" class="form-control" id="name" name="name" >
                        </div>
                        
                        <div class="mb-3">
                            <label for="address" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>

                        <div class="mb-3">
                            <label for="phoneNum" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="phoneNum" name="phoneNum">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Cam kết với điều khoản dịch vụ</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Tạo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}